@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&display=swap');
.header{
    padding: 2rem;
    position: relative;
    color: var(--main-color-white);
    color: #ffffff;
    
}
.header__nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__nav-logo{
  font-family: 'Kalam', sans-serif;
  font-style: italic;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6); 
}
.logo_yllow{
  display: inline-block;
  color: yellow;
  margin-right: .5rem;
}
.logo_blue{
  display: inline-block;
  color: rgb(107, 247, 235);
} 
.header__nav-list{
    display: flex;
    align-items: center;
}
.header__nav-list__item{
    margin-right: 1rem;
}

.header__nav-icon{
    display: none;
}

.header__nav-list__item > a{
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: 1.5rem;
    line-height: 1.3;
    color: var(--main-color-white);
    font-weight: 500;
    padding: .5rem;
    text-transform: uppercase;
    transition: all .3s;
   
}
.header__nav-list__item > a:focus,
.header__nav-list__item > a:hover{
    opacity: .6;
}
  
  
.header__nav-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 960px) {

    .header__nav-list__item > a{
        font-size: 1.2rem;
    }

    .header__nav-icon{
        display: inline-block;
        width: 2.7rem;
        margin-right: .4rem;
    }
}
@media (max-width: 660px) {
    .header__nav-text{
        display: none;
    }
}